@font-face {
    font-family: 'BebasNeue-Book';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

.container {
    background-color: rgb(232, 232, 232);
    margin: 0 auto;
}

.site-header {
    font-family: 'BebasNeue-Book', Fallback, sans-serif;
    letter-spacing: 5px;
    font-size: 1.4em;
    font-weight: lighter;
}

.navbar {
    background-image: url('../img/header.jpg');
    background-size: cover;
    opacity: 0.9;
    border-bottom: 2px solid rgb(56, 74, 103);
}

.navbar-brand {
    float: none;
} 

.content {
    background-color: #f9f8fd;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding:10px 30px;
    font-family: 'Lato', sans-serif;
}

.post-card {
    border: none;
    padding:0 10px; 
    background:none;
}

.post-card .card-title a, .post-card .card-body {
    color: #444;
}

.post-card .card-content {
    box-shadow: 5px 5px 10px 5px rgba(150, 150, 150, 0.5);
}

.post-card .card-img-top {
    height: 300px;
}

.post-card .card-body {
    background-color: #fefeff;
}

.card-columns {
    column-count: 5;
}

.post-content {
    padding: 1% 10%;
    text-align: center;
}

.post-content, .comment-container {
    background-color: white;
    border-radius: 3px;
}

.comment-header {
    background-color: rgb(245, 245, 245);
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
}

.comment-body {
    margin-top: 5px;
    margin-left: 10px;
}

.comment-container {
    margin-top: 10px;
}
