<div>
    <div class="row">
        <div class="col">
            <h5>Recent Posts</h5>
        </div>
    </div>
    <ul class="list-group">
        {% for post in recent %}
        <li class="list-group-item recent-posts">
            <div class="row">
                <div class="col-md-1">
                    <p><img class="card-img-top" src="../static/img/coffee.jpg"></p>
                </div>
                <div class="col-md-11">
                    <p class="recent-post-title"><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></p>
                    <small>{{post.created_date.strftime('%B %d, %Y')}}</small>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row">
    <div class="col">
        <h5>Popular Tags</h5>
    </div>
</div>
<ul class="list-group">
    {% for tag in top_tags %}
    <li class="list-group-item"
    ><a href="{{ url_for('posts_by_tag', tag_name=tag[0].title) }}">{{ tag[0].title }}</a>
    </li>
    {% endfor %}
</ul>
    
    
    